[submodule "themes/hugo-solstice-theme"]
	path = themes/hugo-solstice-theme
	url = https://gitlab.eclipse.org/eclipsefdn/software-dev/frameworks-and-tools/hugo-solstice-theme.git
[submodule "submodules/4diac-documentation"]
	path = submodules/4diac-documentation
	url = https://github.com/eclipse-4diac/4diac-documentation.git	
