/* ==========================================================================
   Homepage Styles
   Mobile-first approach: base styles for mobile, then desktop overrides
   ========================================================================== */

/* Homepage background image */
.header-default-bg-img .featured-jumbotron {
  background-image: url(../img/4diac-home-bg_blue.jpg?281f3578e8c92caaa2691632d0fb4065);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Homepage-specific jumbotron override (base styles in 4diac_adjustments.css) */
.featured-jumbotron {
  padding-bottom: 0;
}

/* --------------------------------------------------------------------------
   News Section
   -------------------------------------------------------------------------- */
.subscribe-btn {
  display: block;
  width: 100%;
}

.view-all-btn {
  display: block;
  width: 100%;
  background-color: var(--color-primary);
  border: 0;
}

.view-all-btn:hover {
  background-color: var(--color-primary-light);
}

.news-btn-font {
  font-size: 16px;
  font-weight: bold;
}

.news-view-all-font {
  color: var(--color-primary);
}

/* --------------------------------------------------------------------------
   Jumbotron Buttons
   -------------------------------------------------------------------------- */
.featured-jumbotron .btn {
  min-width: 200px;
  padding-left: 0;
  padding-right: 0;
}

.featured-jumbotron.featured-jumbotron-dark .btn-primary {
  background-color: var(--color-bg);
  border: 2px;
  border-color: #ffb85e;
  color: var(--color-primary);
}

/* --------------------------------------------------------------------------
   Jumbotron Link Group - Gradient backgrounds (uses CSS variables from 4diac_adjustments.css)
   -------------------------------------------------------------------------- */
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:first-child {
  background-color: var(--color-gradient-1);
}

.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:nth-child(2) {
  background-color: var(--color-gradient-2);
}

.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:nth-child(3) {
  background-color: var(--color-gradient-3);
}

.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:nth-child(4) {
  background-color: var(--color-gradient-4);
}

.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:nth-child(5) {
  background-color: var(--color-gradient-5);
}

.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  > a,
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  > a:active,
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  > a:hover,
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  > a:visited {
  color: var(--color-primary);
}

/* --------------------------------------------------------------------------
   Jumbotron End Section - Mobile (base styles)
   -------------------------------------------------------------------------- */
.featured-jumbotron .featured-jumbotron-end-custom {
  display: flex;
  flex-direction: column;
}

.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
  width: 100%;
}

.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  > a {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.featured-jumbotron .featured-jumbotron-end-custom .link-overlay {
  display: none;
  z-index: 1000;
}

/* Link overlay hover effect */
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:active
  .link-overlay,
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:focus
  .link-overlay,
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:hover
  .link-overlay {
  align-items: center;
  animation-duration: 0.2s;
  animation-name: custom-jumbotron-end-link-overlay-animation;
  animation-timing-function: linear;
  background-color: var(--color-secondary);
  color: var(--color-bg);
  display: inline-flex;
  justify-content: center;
  min-height: 100%;
  padding: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:active
  .link-overlay:hover,
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:focus
  .link-overlay,
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:focus
  .link-overlay:hover,
.featured-jumbotron
  .featured-jumbotron-end-custom
  .custom-jumbotron-end-link-group
  a:hover
  .link-overlay:hover {
  min-height: 150%;
}

@keyframes custom-jumbotron-end-link-overlay-animation {
  0% {
    color: #000;
    min-height: 100%;
  }
  to {
    color: var(--color-bg);
    min-height: 150%;
  }
}

/* Story section */
.featured-story-jumbotron-content-title {
  font-weight: 600;
}

/* ==========================================================================
   Desktop Styles (992px and up)
   Consolidated media query for all desktop overrides
   ========================================================================== */
@media (min-width: 992px) {
  .featured-jumbotron .featured-jumbotron-end {
    margin-top: 2rem;
  }

  .featured-jumbotron .featured-jumbotron-end-custom {
    flex-direction: row;
    margin-top: 1rem;
  }

  .featured-jumbotron
    .featured-jumbotron-end-custom
    .custom-jumbotron-end-lead-text {
    font-size: 2.4rem;
    font-weight: 300;
    max-width: 16%;
    padding: 1rem 1rem 1rem 0;
    text-align: right;
  }

  .featured-jumbotron
    .featured-jumbotron-end-custom
    .custom-jumbotron-end-link-group {
    align-items: stretch;
    flex-direction: row;
    margin: unset;
    width: 100%;
  }

  .featured-jumbotron
    .featured-jumbotron-end-custom
    .custom-jumbotron-end-link-group
    a {
    align-items: center;
    display: inline-flex;
    font-size: 2.4rem;
    justify-content: center;
    padding: 0;
    position: relative;
  }

  .featured-jumbotron .featured-story-jumbotron {
    margin-left: auto;
    margin-right: unset;
    margin-bottom: 0;
  }
}
