.subscribe-btn {
	display: block;
	width: 100%;
}

.news-btn-font{
	font-size: 16px;	
	font-weight: bold;
}

.news-view-all-font{
	color: #012269;
}

.subscribe-footer {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}