.header-default-bg-img .featured-jumbotron {
    background-image: url('/4diac/img/4diac-support-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }


.card-container .glyph-highlight{
    left:calc(90% - 75px);
    position:absolute;
    text-align:center;
    top:10px
  }
  
.card-container .glyph-highlight .glyph-container{
    background-color: var(--4diac-orange);
    color:#fff;
    font-size:3em;
    height:40px;
    padding:0px 0px 5px;
    width:75px
  }
  
.card-container .glyph-highlight .glyph-container img{
  max-height:100%;
  max-width:100%;
  vertical-align:text-bottom
}
  
.card-container .glyph-highlight .glyph-bottom{
  border:37.5px solid transparent;
  border-top:18.75px solid var(--4diac-orange);
  height:0;
  width:0
}

.card-container .card-panel.with-glyph .panel-body {
  margin-top:5px
}

.panel-body ul {
   padding-left: 1.2em;
}

